.parte10{
    background-color: #0e01ff;
    border: none;
    padding: 8px 220px;
    color: #fff;
    margin: 1px 1px;
    text-align: center;
    cursor: pointer;
}
.parte11{
    background-color: #0cb7f2;
    border: none;
    padding: 8px 220px;
    color: #fff;
    margin: 1px 1px;
    text-align: center;
    cursor: pointer;
}
.parte12{
    background-color: #0008fffc;
    border: none;
    padding: 8px 210px;
    color: #fff;
    margin: 1px 1px;
    text-align: center;
    cursor: pointer;
}

.a, .parte10, .parte11, .parte12{
    text-decoration: none;
}

.a, .parte10, .parte11, .parte12{
    color: #fff;
}
