.parte1{
    background-color: #0526b8;
    border: none;
    padding: 20px 200px;
    color: #fff;
    margin: 1px 1px;
    text-align: center;
    cursor: pointer;
}
.parte2{
    background-color: #517ae2;
    border: none;
    padding: 20px 200px;
    color: #fff;
    margin: 1px 1px;
    text-align: center;
    cursor: pointer;
}
.parte3{
    background-color: #0000b2ea;
    border: none;
    padding: 20px 200px;
    color: #fff;
    margin: 1px 1px;
    text-align: center;
    cursor: pointer;
}

.a, .parte1, .parte2, .parte3{
    text-decoration: none;
}

.a, .parte1, .parte2, .parte3{
    color: #fff;
}
